<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}", type="text/css">
    </head>
    
    <body>
        <h1>About me</h1>
        <p>Hi there, this is my introducing page.<br>I'm a student who is learning Django and Python.</p>
        <p>My goal is to become a full-stack developer.</p>
        <p>Thank you for visiting my blog.</p>
    </body>
</html>