{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}", type="text/css">
        <script src="https://kit.fontawesome.com/bd8516d1a7.js" crossorigin="anonymous"></script>
    </head>
    <body>
        
        {% include 'blog/navbar.html' %}

        <div class="container">
            <div class="px-4 py-5 my-5 text-center">
                <img class="d-block mx-auto mb-4" src="{% static 'assesst/logo.png' %}" alt="" width="120" height="120">
                <h1 class="display-5 fw-bold text-body-emphasis">Hi there 👋, I'm Kang 🌊 </h1>
                <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Welcome to Be-Garam's Django Blog.</br> This project is made for me to understand and remind django</p>
                </div>
            </div>

            <h1>Blog Posts</h1>

            <div class="row mt-3 mb-5">
                <div class="blog-list">
                    {% for post in posts %}
                    <div class="post card raw my-3">
                        <div class="card-body">
                        <h3 class="card-title">{{post.title}}</h3>
                        <p class="card-text">{{post.date_posted}}</p>
                        <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% include 'blog/footer.html' %}

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>    
    </body>
</html>
